@charset "UTF-8";
/* CSS Document */

@font-face{ 
	font-family: "LCD2U";
	src: url('http://fontsforweb.com/public/fonts/525/LCD2U.eot');
	src: local("LCD2 Ultra"), url('http://fontsforweb.com/public/fonts/525/LCD2U.ttf') format("truetype");
}

#display{
	position: relative;
	display: inline-block;
	
	top: 21px;
	width: 600px;
	height: 280px;
	
	padding: 16px;
	
	font-family: LCD2U, Arial, Helvetica, sans-serif;
	text-align: right;
	font-size: 120px;
	line-height: 280px;
		
	background-color: #7992AA;
	border-radius: 50%;
	box-shadow: inset 0px 3px 1px white,
				inset 0px -3px 1px black,
				-3px -4px -0px #7992AA;
}

#displayBg{
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background-color: #000;

	box-shadow: 0px -3px 1px black,
				0px 3px 1px white;
}

#displayShadow{
	position:absolute;
	margin-right: 0.5em;
	right:0;

	color: #200;
	text-shadow: 0px 0px 0.1em #200;
}

#displayText{
	position:absolute;
	margin-right: 0.5em;
	right:0;
		
	color: #F00;
	text-shadow: 0px 0px 0.1em red;
}

